.button-container {
  display: flex;
}

.button-container button {
  margin-right: 500px;
}

.flat-button a:link, .flat-button a:visited {
  font-family: sans-serif;
  color: #ffd700;
  font-weight: 400;
  text-decoration: none;
}

.flat-button a:hover, .flat-button a:active {
  color: #022c43; /* Example of different color on hover and active */
}

.flat-button {
  color: #ffd700;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffd700;
  margin-top: 25px;
  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
  z-index: 0;
  background-color: #022c43;

  &:hover {
    background: #ffd700;
    color: #333;
  }
}

.projects-page .flat-button {
  float: none;
  display: block;
  margin: 20px auto 0 auto;
  width: 140px;
}

h2 {
  color: #ffd700;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project img {
  max-width: 30%;
  max-height: 30%;
}

@media screen and (max-width: 767px) {
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(3, 300px);
  }
}